nav {

	display: flex; 
	justify-content: space-around; /* o espaço ao redor será metade do espaço entre os elemento */
	align-items: center;
	background: #014792;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
	position: fixed;
	width: 100%;
	height: 15vh;
	z-index: 99;
	
}

nav:hover {

	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;
	
}

nav:hover {

	background-color: #0068d8;

}

.logo {

	font-size: 20px;
	letter-spacing: 3px;
	display: none;
	font-family: Segoe UI Semibold, sans-serif;
}

.mobile-menu {

	display: none;
	cursor: pointer;
	
}

.mobile-menu div {

	width: 32px;
	height: 2px;
	background: #fff;
	margin: 6px;
	transition: 0.3s;
} 


@media (max-width: 900px) { /* quando a tela for menor que esse tamanho  */

	body {
		overflow-x: hidden; /*se algo transbordar, vai ficar escondido */
	}


	nav {
		height: 16.2vh;
	}

	.nav-list {
		position: absolute;
		top: 10.9vh;
		right: 0;
		width: 52vw; /*metade da tela*/
		height: 92vh;
		background: #014792;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
		
	}

	.logo {

		display: block;
		color: #fff;
		margin-left: 32px;
		margin-top: 35px;
		transition: 0.3s ease-in;
		font-size: 16px;
	}

	.logo:hover {

		color: #f8c730;
	}

	.nav-list li {

		margin-left: 0;
		opacity: 0;

	}

	.mobile-menu {

		position: absolute;
		right: 0;
		display: block;


	}

	.form-inline {

		display: none;
	}


}


.nav-list.active {

	transform: translateX(0);
}

.nav-list.clickOut {

	transform: translateX(100%);
}

@keyframes navLinkFade {

	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.mobile-menu.active .line1 {

	transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {

	opacity: 0;
}

.mobile-menu.active .line3 {

	transform: rotate(45deg) translate(-5px, -7px);
} 


/* formatação do menu */


.nav-list  {

	list-style: none;
	display: flex;
	padding: 15px;
	margin-top: 30px;
}

ul.nav-list > li a {

	display: block;
	text-decoration: none;
	padding: 15px;
	color: white;
	font-weight: 700px;
	font-family: Segoe UI Semibold, sans-serif;
	font-size: 11pt;
	/*border: 1px solid #000;*/

}

ul.nav-list li {

	letter-spacing: 2px;
	margin-left: 32px;
	
}

.nav-list a:hover {

	color: #f8c730;
	
}

ul.nav-list li:hover {

	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
	-o-transition: background-color 1s;
	-ms-transition: background-color 1s;

}

.submenu {

	list-style: none;
	background-color: #020561;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 5px;
	display: none;
	position: absolute;
	top: 121px;

}


ul.submenu li {

	display: list-item;
	font-family: Segoe UI Semibold, sans-serif;
	font-size: 10pt;

}

li:hover .submenu {

	display: block;
	z-index: 5;
	margin-top: -44px;

}

ul.submenu li:hover {

	background-color: #5d62ff;
	border-radius: 5px;
	transition: background-color 1s;

}

.subevento {

	list-style: none;
	background-color: #020561;
	border-radius: 5px;
	padding: 5px;
	margin: -1px;
	position: absolute;
	min-width: 300px;
  	display: none;


}

li:hover > .subevento {

	display: block;
	margin-top: -60px;
	margin-left: 280px;
	position: absolute;

}

.display-3 {

  font-family: Segoe UI Semibold, sans-serif;

}

.display-4 {

  font-family: Segoe UI Semibold, sans-serif;
}

.navbar-nav {

  left: 70%;
  position: absolute;
}

#navDrop {

  color: #fff;
}

#navDrop:hover {

  color: #f8c730;
}

/* videos */

.modal-content {

	align-items: center;
	justify-content: space-around;

}

.card-video {

	width: 400px;
	height: 300px;
	border-radius: 13px;
	margin: 15px;
}

/* formatação de texto do card */

.card-content {

	padding: 10px 40px 10px 40px;
}
