<!doctype html>
<html lang="pt-br">
  
  <%- include('inc/head') -%>

  <body>

      <div id="header"><%- include('inc/header-menu') -%></div>
      
      

      <%- include('inc/footer') -%>

      <%- include('inc/footer-scripts') -%>
  
  </body>

</html>
